@model DVDStore.Web.MVC.Areas.FilmCatalog.Models.FilmViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Film</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Releaseyear)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Releaseyear)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rating)
                </dd>
            </dl>

            <form asp-action="DeleteConfirmed" asp-route-id="@Model.Filmid">
                <input type="hidden" asp-for="Filmid" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-primary" asp-route-SearchQuery="@ViewBag.IndexSearchQuery">Back to List</a>
            </form>
        </div>
    </div>
</div>
